@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

/* VARIABLES */
:root {
	/* Colors */
	--color-black: #000000;
	--color-white: #fff;
	--color-dark: #000205;
	--color-dark-blue: #082d3a;
	--color-blue: #267491;
	--color-light-blue: #a7b8b5;
	--color-cream: #cfc5bc;
	/* Typefaces */
	--display-font: 'Lobster', cursive;
	--text-font: 'Open Sans', sans-serif;
}

/* GENERAL STYLING */
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-image: url(../images/background-cd.jpg);
	background-position: center;
	background-size: cover;
	font-family: var(--text-font) !important;
}

#main {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

#app {
	width: 100%;
	height: 100%;
}
.center {
	padding: 10vh 20px;
}
/* HOMEPAGE STYLING */
.homepage h2 {
	font-family: var(--display-font);
	color: var(--color-white);
	padding-bottom: 50px;
}
.homepage img {
	width: 250px;
	margin-bottom: 20px;
}
.homepage .question-mark {
	color: var(--color-light-blue);
	position: absolute;
	top: 0;
	right: 0;
}
.homepage .question-mark:hover {
	color: var(--color-dark-blue);
}
.homepage .question-mark svg {
	font-size: 2rem;
}
.homepage .join-btn {
	background-color: var(--color-blue);
	padding: 20px 50px;
	font-weight: bold;
}
.homepage .join-btn:hover,
.homepage .create-btn:hover {
	background-color: var(--color-light-blue);
	font-weight: 600;
}
.homepage .create-btn {
	background-color: var(--color-dark-blue);
	padding: 20px 50px;
	font-weight: 600;
}

/* INFO COMPONENT STYLING */
.info-container {
	background-color: var(--color-white);
	padding: 20px 40px;
	border-radius: 10px;
}
.info-container h4 {
	font-family: var(--display-font);
	padding-bottom: 30px;
}
.info-container h6 {
	font-weight: 600;
}
.info-container p {
	padding: 0 10% 20px;
}
.info-container button {
	color: var(--color-blue);
}
.info-container button svg {
	font-size: 40px;
}
.info-container a {
	margin-top: 20px;
	background-color: var(--color-blue);
}
.info-container a:hover {
	background-color: var(--color-light-blue);
}

/* CREATE ROOM COMPONENT STYLING */
.create-container {
	background-color: var(--color-white);
	padding: 30px 20px;
	border-radius: 10px;
}
.create-container h4 {
	font-family: var(--display-font);
	color: var(--color-dark-blue);
	padding-bottom: 30px;
}

.create-container .info {
	width: 100%;
	text-align: center;
	font-size: 14px;
	color: var(--color-light-blue);
}
.create-container button {
	background-color: var(--color-blue);
	margin-top: 20px;
}
.create-container a {
	background-color: var(--color-dark-blue);
}
.create-container a:hover,
.create-container button:hover {
	background-color: var(--color-light-blue);
}
.create-container .MuiRadio-colorPrimary.Mui-checked {
	color: var(--color-blue);
}

/* JOIN ROM STYLING */
.join-container {
	background-color: var(--color-white);
	padding: 30px 20px;
	border-radius: 10px;
}
.join-container h4 {
	font-family: var(--display-font);
	color: var(--color-dark-blue);
	padding-bottom: 30px;
}
.join-container button {
	background-color: var(--color-blue);
	margin-top: 20px;
}
.join-container a {
	background-color: var(--color-dark-blue);
}
.join-container .MuiOutlinedInput-root {
	border-radius: 20px;
}
.join-container a:hover,
.join-container button:hover {
	background-color: var(--color-light-blue);
}

/* ROOM COMPONENT STYLING */
.room-container {
	background-color: var(--color-white);
	padding: 30px 20px;
	border-radius: 10px;
}
.room-container .settings-btn {
	background-color: var(--color-blue);
	margin-top: 20px;
}
.room-container button:hover {
	background-color: var(--color-light-blue);
}

.room-container .leave-btn {
	background-color: var(--color-dark-blue);
	margin-top: 0;
}
.room-container h4 {
	padding-bottom: 20px;
	font-size: 30px;
}
.room-container h4 span {
	font-family: var(--display-font);
}
.room-container h6 {
	font-weight: 600;
	text-transform: capitalize;
	padding-bottom: 10px;
}
.room-container h6 span {
	font-weight: 100;
	text-transform: lowercase;
	font-size: 16px;
}

/* SETTINGS STYLING  */
.create-container .create-container {
	padding: 0;
}
.create-container .close-btn {
	background-color: var(--color-dark-blue);
	margin-top: 0;
}

/* MUSIC COMPONENT STYLING */
.music-container {
	background-color: var(--color-cream) !important;
	padding: 20px;
	margin-bottom: 20px;
}
.music-container h5 {
	font-family: var(--display-font);
	color: var(--color-dark-blue);
	font-size: 30px;
}
.music-container h6 {
	padding: 5px 0 30px 0;
	color: var(--color-blue);
	font-size: 18px;
	font-weight: 500;
}
.music-container .controls {
	padding: 0 20%;
	box-sizing: border-box;
}
.music-container .controls button {
	width: fit-content;
}
.music-container .controls p {
	color: var(--color-blue);
	font-size: 15px;
	font-weight: 500;
}
.music-container .controls svg {
	fill: var(--color-dark-blue);
}

/* DESKTOP */
@media only screen and (min-width: 600px) {
	.center {
		position: absolute;
		top: 40%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	.homepage .question-mark {
		color: var(--color-light-blue);
		position: absolute;
		top: 10%;
		right: 0;
	}
}
